= render 'shared/header'
= form_with model: @group, local: true, method: :put do |form|

  .form-container
    %form.col.s12
      .row
        .input-field.col.s12
          = form.text_field :group_name, class:"materialize-textarea", placeholder: @group.group_name, maxlength: "20"
          %label{for: "textarea1"} リストの名前
      .row
        .input-field.col.s12
          = form.text_field :hashtag, class:"materialize-textarea", placeholder: @group.hashtag, maxlength: "20"
          %label{for: "textarea1"} ハッシュタグ
    .divider
    .button-container
      %button.waves-effect.waves-light.btn-large
        = form.submit "Submit"
