= render 'shared/header'
%link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}/

.row
  .col.s12
    %ul.tabs{style: " border-bottom: 1px dotted #bbb;"}
      %li
        .col.s2{style: "color: #ee6e73;"}
          Name:
          = @group.group_name
          %br
          Hashtag:
          = @group.hashtag
      %li.col.s2{style: "color: #ee6e73; padding-top: 0.5%; font-size: 16px;"}
        %i.material-icons{style: "padding-top: 1%"} autorenew
        = link_to 'Load new tweets', tweets_path(@group) , style: "color: #ee6e73;"
      %li.tab.col.s2{style: " border-left: 1px dotted #bbb;"}
        %a.active{href:"#test1"} New
      %li.tab.col.s2
        %a.active{href: "#test2"} WIP
      %li.tab.col.s2
        %a{href: "#test3"} Pending
      %li.tab.col.s2
        %a{href: "#test4"} Completed
    #test1.col.s12.tweet-container
      - @new.each do |tweet|
        = form_with url: statuses_path, method: :put, local: true do |f|
          .card.white.darken-1.tweet-container__box
            .card-content.white-text.tweet-container__box__tweet
              %blockquote.twitter-tweet
                %a{href: "https://twitter.com/a/status/#{tweet.tweet_id}?ref_src=twsrc%5Etfw"}
              %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}
              .card-action{style: "color: black;"}
                = f.select :status, [["Move this card to:", value = 1], ["WIP", value = 2],["PENDING", value = 3],["Completed", value = 4]], {}, {class: "browser-default"}
                = f.hidden_field :tweet_id, value: tweet.tweet_id
                %br
                %button.waves-effect.waves-light.btn-small
                  = f.submit "Submit"

    #test2.col.s12.tweet-container
      - @wip.each do |tweet|
        = form_with url: statuses_path, method: :put, local: true do |f|
          .card.white.darken-1.tweet-container__box
            .card-content.white-text.tweet-container__box__tweet
              %blockquote.twitter-tweet
                %a{href: "https://twitter.com/a/status/#{tweet.tweet_id}?ref_src=twsrc%5Etfw"}
              %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}
              .card-action{style: "color: black;"}
                = f.select :status, [["Move this card to:", value = 2], ["PENDING", value = 3],["Completed", value = 4]], {}, {class: "browser-default"}
                = f.hidden_field :tweet_id, value: tweet.tweet_id
                %br
                %button.waves-effect.waves-light.btn-small
                  = f.submit "Submit"

    #test3.col.s12.tweet-container
      - @pending.each do |tweet|
        = form_with url: statuses_path, method: :put, local: true do |f|
          .card.white.darken-1.tweet-container__box
            .card-content.white-text.tweet-container__box__tweet
              %blockquote.twitter-tweet
                %a{href: "https://twitter.com/a/status/#{tweet.tweet_id}?ref_src=twsrc%5Etfw"}
              %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}
              .card-action{style: "color: black;"}
                = f.select :status, [["Move this card to:", value = 3], ["WIP", value = 2],["Completed", value = 4]], {}, {class: "browser-default"}
                = f.hidden_field :tweet_id, value: tweet.tweet_id
                %br
                %button.waves-effect.waves-light.btn-small
                  = f.submit "Submit"

    #test4.col.s12.tweet-container
      - @completed.each do |tweet|
        = form_with url: statuses_path, method: :put, local: true do |f|
          .card.white.darken-1.tweet-container__box
            .card-content.white-text.tweet-container__box__tweet
              %blockquote.twitter-tweet
                %a{href: "https://twitter.com/a/status/#{tweet.tweet_id}?ref_src=twsrc%5Etfw"}
              %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}
              -# .card-action{style: "color: black;"}
              -#   = f.select :status, [["Move this card to:", ""], ["WIP", value = 2],["PENDING", value = 3],["Completed", value = 3]], {}, {class: "browser-default"}
              -#   = f.hidden_field :tweet_id, value: tweet.tweet_id
              -#   %br
              -#   %button.waves-effect.waves-light.btn-small
              -#     = f.submit "Submit"

:javascript
  $(document).ready(function(){
    $('.tabs').tabs();
  });

